<h1 class="underline font-bold text-bluey">WELCOME TO LUQMAN'S DISPATCHES</h1>
<p class="text-texty">
    A warm welcome to my dispatches (the cooler word for “blog”), where I share things for the internet to read and take notes from.
    The dispatches is primarily themed on my experiences, projects, and some knowledge I would like to share.
</p>

<hr class="border-t border-smokey" />

<p class="font-bold text-smokey">
    <a href="{{ site.baseurl }}/" target="_self" class="text-white hover:text-white duration-300">ALL</a> |
    <a href="{{ site.baseurl }}/experiences" target="_self" class="text-texty hover:text-white duration-300">EXPERIENCES</a> |
    <a href="{{ site.baseurl }}/projects" target="_self" class="text-texty hover:text-white duration-300">PROJECTS</a> |
    <a href="{{ site.baseurl }}/coding" target="_self" class="text-texty hover:text-white duration-300">CODING</a>
</p>