<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Luqman's Dispatches</title>

        <!-- Open Graph -->
        <meta property="og:title" content="Luqman's Dispatches" />
        <meta property="og:description" content="Dispatches is the cooler word for blog." />

        <!-- IBM Plex Mono font -->
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet" />

        <!-- Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script>tailwind.config = { theme: { extend: { colors: { bluey: 'rgb(0,123,255)', smokey: 'rgb(50,50,50)', texty: 'rgb(200,200,200)' }, fontFamily: { mono: ['"IBM Plex Mono"', 'monospace'] } } } }</script>
    </head>

    <body class="p-4 flex flex-col gap-4 font-mono text-sm md:text-base bg-black w-full h-full">
        {% include header.html %}

        <main class="flex flex-col gap-4 w-full h-full md:w-6/12 mx-auto">
            {% include index.html %}

            <p class="font-bold text-smokey">
                <a href="{{site.baseurl}}/" target="_self" class="text-white hover:text-white duration-300">ALL</a> |
                <a href="{{site.baseurl}}/experiences" target="_self" class="text-texty hover:text-white duration-300">EXPERIENCES</a> |
                <a href="{{site.baseurl}}/projects" target="_self" class="text-texty hover:text-white duration-300">PROJECTS</a> |
                <a href="{{site.baseurl}}/coding" target="_self" class="text-texty hover:text-white duration-300">CODING</a>
            </p>

            <div class="
            text-texty
            [&_h2]:pt-4 [&_h2]:font-bold [&_h2]:text-bluey
            [&_h3]:font-bold [&_h3]:text-texty
            [&_a]:underline [&_b]:font-bold ">
                {{ content }}
            </div>
        </main>

        {% include footer.html %}
    </body>
</html>